################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ElectronFlowSim.AnalysisService
/ElectronFlowSim.Common/obj/Debug/net8.0
/ElectronFlowSim.DTO/obj
/.vs/ElectronFlowSim
/ElectronFlowSim.Common
/ElectronFlowSim.DTO/bin/Debug/net8.0
/.vs/ProjectEvaluation
/ElectronFlowSim.AnalysisService.Common
/ElectronFlowSim.AnalysisService.Data
/ElectronFlowSim.AnalysisService.Domain
/ElectronFlowSim.Domain.Base
/ElectronFlowSim.API/obj
/ElectronFlowSim.API/bin/Debug/net8.0
/ElectronFlowSim.AnalysisService.GRPC/obj/Debug/net8.0
/ElectronFlowSim.AnalysisService.GRPC/bin/Debug/net8.0
/ElectronFlowSim.AnalysisService.GRPC/obj
